*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-flex{
    display: flex;
    background-color: #222222;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.column-left, .column-centre, 
.column-right{
    display: flex;
    flex-direction: row;
    color: white; 
    /* questo */
}

.column-left{
    width: 8%;
    justify-content: space-around;
    height: 100%;
}

.column-left .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: center;
}

.column-left .button div{
    font-size: 13px;
}

.column-centre{
    width: 30%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.column-centre .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: center;
}

.column-centre .button div{
    font-size: 13px;
}

.column-right{
    width: 5%;
    justify-content: space-around;
    color: #FF2639;
    height: 100%;
    align-items: center;
    background-color: #4A4A4A;
    text-decoration: none;
}

header{
    display: flex;
    height: 100vh;
    align-items: flex-end;
}

/* main */
main{
    background-color: #000000;
}